# app
PORT=3001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_DATABASE=
MAIN_URL=http://localhost:3001/
ORIGIN=http://localhost:3000
SALT_ROUNDS=10
JWT_SECRET=

# compose
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=erp
